body
{
    background-image: url(cesar1.jpg);
    background-size: 20%;
    background-repeat: repeat;
    background-color: black;
    background-position: center;
}



h1 
{
    color: red;
    text-align: center;
    font-family: monospace;
    font-size: 400%;
    text-shadow: 5px 5px 10px white;
}

p
{
    color: deeppink;
    text-shadow: 5px 5px 10px white;
    border-radius: 10px;
    text-align: center;
    font-size: 200%;
    font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


li {
  margin-left: 10px;
  margin-right: 10px;
  text-align: right;
}

a
{
    color:gold;
}


a:hover {
  color: silver;
}


#listeNavTop {
  display: flex;
  background-color: black;
  padding: 20px;
  font-family: "Space Mono", monospace;
  border-radius: 25px;
  
}

#container {
  margin: 80px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 15px;
  border-style: solid;
  border-color: white;
  opacity: 1.5;
  background-color: pink;
  text-align: center;
  border-radius: 25px;
  text-shadow: 1px 1px 2px black;
  box-shadow: 2px 2px 4px white;
}