body
{
    background-image: url(cesar.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

header {
  display: flex;
  justify-content: space-around;
    
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


li {
  margin-left: 10px;
  margin-right: 10px;
  text-align: right;
}

h1 
{
    color: red;
    text-align: center;
    font-family: monospace;
    font-size: 400%;
}

p
{
    color: solid black;
    text-shadow: 5px 5px 10px white;
    border-radius: 10px;
    text-align: center;
    font-size: 200%
}

footer
{
    background-color: black;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:10px;
    height:50px;
    border-radius: 10px;
}

a
{
    color:white;
}

a:hover {
  color: #ffcaab;
}

#container {
  margin: 20px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 15px;
  border-style: solid;
  border-color: white;
  background-color: #f7f1e4da;
  text-align: center;
  border-radius: 25px;
}

#listeNavTop {
  display: flex;
  background-color: black;
  padding: 20px;
  font-family: "Space Mono", monospace;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
}


#footerCesar
{
	text-align: center;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}


#footerCesar li { 
	display: inline-block;
    color: white;
}