body
{
    background-image: url(cesar.jpg);
    background-size: 100%;
    background-size: 100%;
}

header {
  display: flex;
  justify-content: space-around;
    
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


li {
  margin-left: 10px;
  margin-right: 10px;
  text-align: right;
}

h1 
{
    color: red;
    text-align: center;
    font-family: monospace;
}

p
{
    color: solid black;
    text-shadow: 1px 1px 2px white;
    border-radius: 10px;
    text-align: center;
}

footer
{
    background-color: black;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:10px;
    height:50px;
    border-radius: 10px;
}


#listeNavTop {
  display: flex;
  background-color: black;
  padding: 20px;
  font-family: "Space Mono", monospace;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
}



#footerCesar
{
	text-align: center;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}


#footerCesar li { 
	display: inline-block;
}